<!DOCTYPE html>
<html>
  <head>
    <title>Ttt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 text-gray-900 font-sans leading-normal">
    <header class="bg-white shadow-md">
      <nav class="container mx-auto p-4 flex items-center justify-between">
        <div>
          <% if user_signed_in? %>
            <%= link_to 'Home', root_path, class: "text-blue-500 hover:text-blue-700 mx-2" %> |
            <%# link_to 'New Game', new_game_path, class: "text-blue-500 hover:text-blue-700 mx-2" %> 
            <%# link_to 'Join Game', join_games_path, class: "text-blue-500 hover:text-blue-700 mx-2" %> 
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "text-red-500 hover:text-red-700 mx-2" %>
          <% else %>
            <%= link_to 'Log In', new_user_session_path, class: "text-blue-500 hover:text-blue-700 mx-2" %> |
            <%= link_to 'Sign Up', new_user_registration_path, class: "text-blue-500 hover:text-blue-700 mx-2" %>
          <% end %>
        </div>
      </nav>
    </header>

    <main class="container mx-auto p-4">
      <p class="text-green-600 font-bold"><%= notice %></p>
      <p class="text-red-600 font-bold"><%= alert %></p>

      <%= yield %>
    </main>
    
  </body>
</html>
